* {
	font-family: "Curlz MT","Comic Sans MS", cursive, sans-serif;
	font-size: 1.05em;
	margin: 0;
	padding: 0;
}

body {
	font: 14px Georgia, serif; 
}

article, aside, figure, footer, header, hgroup,
menu, nav, section { 
	display: block; 
}


#page-wrap { 
	width: 50%; margin: 100px auto;
}

h1, h2, p { 
	margin: 20px 0; 
}


html { overflow-x: hidden; }
h2 { 
  font: "Comic Sans MS", cursive, sans-serif;
  background: black;
  color: white;
  padding: 15px 0;
  position: relative;
}
h2:before, h2:after {
  content: "";
  font: "Comic Sans MS", cursive, sans-serif;
  background: black;
  position: absolute;
  top: 0;
  bottom: 0;
}

h2:before {
  right: 100%;
}
h2:after {
  left: 100%;
}

h2:nth-of-type(1), h2:nth-of-type(1):before, h2:nth-of-type(1):after { background: #dc4916; }
h2:nth-of-type(2), h2:nth-of-type(2):before, h2:nth-of-type(2):after { background: #6871b1; }
h2:nth-of-type(3), h2:nth-of-type(3):before, h2:nth-of-type(3):after { background: #d1b935; }

.left-only:after {
  display: none;
}

.right-only:before {
  width: 20px;
}




/*img {
	width:384px;
	height:256px;
	float:right;
	padding:50px;

}*/

a:link {
	text-decoration: none;
	color: #CF5300;
}
a:hover {
	text-decoration:underline;
	color:#CF5300;
}

a:visited {
	text-decoration: none;
	color: #CF5300;
}


